<header class="header">
  <div class="logo">OnlineStore</div>
  <nav>
    <a href="#">Home</a>
    <a href="#">Catalog</a>
    <a href="#">Favorites</a>
  </nav>
</header>

<main class="main-content">


  <section class="categories">
  <div
    class="category-card"
    *ngFor="let category of categories"
    (click)="selectCategory(category)"
  >
    <div class="category-image">
      <img [src]="category.image" alt="category">
    </div>
    <p>{{category.name}}</p>
  </div>
</section>

  <app-product-list
    *ngIf="selectedProducts.length > 0"
    [products]="selectedProducts">
  </app-product-list>

</main>

<footer class="footer">
  <p>© 2026 OnlineStore. All rights reserved.</p>
</footer>