.rectangle {
    padding-top: 1px;
    width: 100%;
    height: 5vh;
    text-align: center;
    background-color: indigo;
    color:rgb(157, 135, 163);
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.to-do-container {
    margin: 5vh 5vh 5vh 5vh;
}

.to-do-text{
    font-size: 80px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:indigo
}

.form-container {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.form-row {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 30px;

}

.form-row input, .form-row button{
    height:35px;
    border-radius: 5px;
}

.form-row input{
    font-size: 16px;
    padding: 0 0 0 15px;
}

.form-row button{
    font-size: 15px;
    color: aliceblue;
    background-color: blueviolet;
}

.form-container label{
    color: rebeccapurple;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#add_button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

#list-container {
    display: none;
    margin: 20px auto;
    background-color: rgb(234, 234, 234);
    width: 400px;
    min-height: 50px;
    border-radius: 8px;
    padding: 10px;
}

#list {
  list-style: none;
  padding: 0;
  margin: 0;
}

button{
    cursor: pointer;
}

.list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.list_item:last-child {
  border-bottom: none;
}

.list_item button {
    background: none;
    border: 1px solid #999;
    padding: 4px 8px;
    cursor: pointer;
}

.completed span {
  text-decoration: line-through;
  color: gray;
}


.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.list_item .delete_button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkred;
    color: aliceblue;
    border-radius: 5px;
}

.list_item .delete_button:hover{
    background-color: #ca6c13;
    box-shadow: 0 0 5px #7a6009;
}

.form-container button:hover{
    background-color: #239e60;
    box-shadow: 0 0 5px #239e60;
}

.form-container input:active {
    background-color: #dbdbdb;
}