.gallery {
  position: relative;
}

.main-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 8px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 50%;
}

.left {
  left: 5px;
}

.right {
  right: 5px;
}

.thumbnails {
  display: flex;
  gap: 6px;
  margin-top: 8px;
  justify-content: center;
}

.thumbnails img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  opacity: 0.6;
  border: 2px solid transparent;
}

.thumbnails img.active {
  opacity: 1;
  border: 2px solid #f14635;
}

.card {
  background: white;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  width: 300px;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 35px rgba(0,0,0,0.12);
}


.product-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 12px;
}

h3 {
  font-size: 18px;
  margin: 8px 0;
}

.description {
  font-size: 14px;
  color: #555;
  min-height: 60px;
}

.price {
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
  color: #e60000;
}

.rating {
  margin-bottom: 12px;
}

.buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.view-btn {
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  background: #f14635;
  color: white;
  text-decoration: none;
}

.share-btn {
  padding: 6px;
  border-radius: 8px;
  border: none;
  background: #25D366;
  color: white;
  cursor: pointer;
}

.telegram {
  background: #229ED9;
}

.share-btn:hover,
.view-btn:hover {
  opacity: 0.85;
}

.actions {
  display: flex;
  gap: 10px;
  margin: 10px 0 15px;
}

.like-btn {
  background: white;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.like-btn:hover {
  background: #f8f8f8;
}

.delete-btn {
  background: #fff;
  border: 1px solid #ff4d4d;
  color: #ff4d4d;
  border-radius: 8px;
  padding: 6px 14px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.delete-btn:hover {
  background: #ff4d4d;
  color: white;
}