.header {
  background: #111;
  color: white;
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: 700;
}

.header nav a {
  color: white;
  margin-left: 25px;
  font-weight: 500;
  transition: 0.3s;
}

.header nav a:hover {
  color: #f14635;
}

.footer {
  background: #111;
  color: #aaa;
  text-align: center;
  padding: 30px;
  margin-top: 60px;
  font-size: 14px;
}
